
header {
    display: flex;
    justify-content: space-around;
    margin-top:4%;
    position: absolute;
    width: 100vw;
    height:40%; 
}

.logo img {
    width: 10vw;
}

.navBar{
    width: 45%;
}

.navBar ul {
 display: flex;
 justify-content: space-around;
 list-style-type: none;
 font-size: 1.25rem;
 color: gray;

}

ul img {
    width: 2vw;
    
}
.navBar li{
    margin: 3%;
    font-size:1.4rem;
}
.shop{
    font-weight: bolder;
    color: rgb(83, 81, 81);
}
.silla{
    position: relative;
    width: 100%;
    z-index: -1;
}

.divsilla{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 2.1rem;
    letter-spacing: 0.62rem;
    color: rgb(117, 116, 116);
}

.fresh {
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
}
.fresh p{
    font-size: 5rem;
    text-align: center;
    
}
